<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/checklist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

</head>
<body>
    <div class="list-items">
        <div class="item">
            <input type="checkbox">
            <label for="">Sound & Touch</label>
            <span><i class="fas fa-bell"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">Itunes & app Store </label>
            <span><i class="fab fa-itunes-note"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">AirPlane Mode</label>
            <span><i class="fas fa-plane-departure"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">Buletooth</label>
            <span><i class="fab fa-bluetooth-b"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">Lock Screen</label>
            <span><i class="fas fa-lock"></i></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">Key Board</label>
            <span><i class="fas fa-keyboard"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">General Setting</label>
            <span><i class="fas fa-cog"></i></span>
        </div>
        <div class="item">
            <input type="checkbox">
            <label for="">Headset Mode</label>
            <span><i class="fas fa-headset"></i></span>
        </div>
        

    </div>
    
</body>
</html>