<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dzopzone.css">
</head>
<body>
    <div class="drop-zone">
        <span class="drop-zone__promt"> Drop file here or click to upload </span>
        
    </div>

 
<script src="/javascripts/dropzone.js"></script>    
</body>
</html>