<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/float.css">
</head>

<body>
    <div class="header">Header</div>
    <div class="wrapper">
        <div class="sidebar">sidebar
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat autem fugiat, cupiditate eaque quis dolor assumenda aut rem obcaecati amet omnis iure possimus beatae eveniet aperiam voluptas molestiae delectus.
        </div>
        <div class="main">Main
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nihil molestias ullam similique, dolores, nobis dolor id distinctio cupiditate a cumque impedit? Aspernatur magni dolore perspiciatis tenetur, incidunt voluptates quibusdam.
        </div>
    </div>

    <div class="fotter">Footer</div>
    <!-- <ul class="menu">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Iusto minus molestiae 
        cum sed et vero, necessitatibus illo sunt 
        earum, eum, nam dignissimos libero facere? 
        Nisi fugit magnam quae nobis quod.</p> -->


</body>

</html>