<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/gallelyImage.css">
</head>
<body>
    <div class="container">
        <div><img src="https://noithathoangphat.vn/wp-content/uploads/2020/08/thiet-ke-ban-lam-viec-tai-nha.jpg" alt=""></div>
        <div><img src="https://cdn.thongtinduan.com/uploads/posts/2019-07/ban-lam-viec-chan-sat-don-handyman-8.jpg" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcO-pbupCJCJNGjDdlDDOmP2G2zqJcSwn5g&usqp=CAU" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7xn0uxXjZU33by9a4QQGXxBMEZ7juoDQRfQ&usqp=CAU" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLH1WyYGdweuTdxEOk-10GLEtuz29dy99wTA&usqp=CAU" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBvkpme7b5VNmhokLOirFW2-jLQeiAxdlkhQ&usqp=CAU" alt=""></div>
        <div><img src="https://flexfit.vn/wp-content/uploads/2021/02/ban-lam-viec-toi-gian-5-1.jpg" alt=""></div>
        <div><img src="https://i.ytimg.com/vi/ZCp5WfYjLac/maxresdefault.jpg" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA_HZEfeKlB5TD4w6rv0AxwB_HUtuNvMj_HLuKqiHNnl3OqJPz-BW5f_qbtqULdw6-EMY&usqp=CAU" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKoLuqs0CsH5OXa2ILZOaRpfwO6FolJ5vhvalzaHd_HnV8Rs-5Olh0Jbfgr_jrN5fnJkw&usqp=CAU" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdp6dENCufYN_koAP2pfMPFyOZtLso8A06eZ7VduRLm5sQUjk-rpoDBP1Clg3aT2YI8hg&usqp=CAU" alt=""></div>

    </div>
    
</body>
</html>