<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/luckynumber.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h3>Chương Trình Quay SỐ May Mắn</h3>

    <!-- "> -->
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="container-lucky">
                    <div class="number">
                        <label for="" id="lblNumber" class="label-number"> 321001</label>

                    </div>
                    <label for="" id="lblArlet"></label>
                    <button id="btnStart" class="btn-start">Start</button>
                </div>

            </div>
            <div class="col-4"></div>
        </div>
    </div>





    <!--  -->

</body>
<script src="/javascripts/luckynumber.js"></script>

</html>