<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/menuprofile.css">
</head>
<body>
    <div class="list">
        <div class="user">
            <div class="imgBx">
                <img src="/images/Wacoal_images.png" alt="">

            </div>
            <div class="details">
                <h3>Nguyen Thai Hoa</h3>
                <p>Lap Trinh Vien</p>
            </div>
        </div>
        <div class="navigation">
            <span><i class="fas fa-edit"></i></span>
            <span><i class="fas fa-heart"></i></span>
            <span><i class="fas fa-trash"></i></span>
        </div>
    </div>

    <script src="/javascripts/menuprofile.js"></script>
    
</body>
</html>