<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal popup with blured background</title>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <div class="container">
        <div class="content" id="blur">
            <h2>
                Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.
                Unde quam ipsam at! Neque blanditiis,
                doloribus aliquid porro minus sunt,
                praesentium vel quidem,
                sint consectetur atque.
                Mollitia perferendis cumque
                voluptatum possimus.
            </h2>
            <img src="images/Wacoal_images.png" alt="">
            <a href="#" id="readMore"> Read More </a>
        </div>
        <div class="popup" id="popup">
            <h2>Lorem ipsum dolor sit amet consectetur </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus odit voluptatem odio,
                exercitationem cumque repudiandae natus alias blanditiis
                veniam pariatur enim nam illo incidunt dolore,
                sit doloribus aliquid nostrum quae!</p>
            <a href="#" id="close"> Close </a>
        </div>
    </div>




    <script src="/javascripts/modal.js"></script>

</body>

</html>