 *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.container-lucky{
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}
.number{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: seashell;
    /* padding: 10px 0; */
    margin: 10px 10px;
}

.label-number{
    font-size: 5rem;
}


.tbl-Pt{
    border-collapse: collapse;
    width: 100%;
}

.tbl-Pt td, th {
    border:  1px solid #dddddd;
    text-align: left;
}
.tbl-Pt tr:nth-child(1) {
    background-color: yellow
}

.tbl-Pt tr:nth-child(even) {
    background-color: #dddddd;
}

