body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   background: black;
}

.process-bar{
    display: flex;
    flex-direction: column;
}
.process-bar .label{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: whitesmoke;
}

.process-bar .line{
    position: relative;
    width: 600px;
    height: 35px;
    background:#e8e8e8 ;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px pink;

}

.process-bar .line span{
    position: absolute;
    left: 0;
    top:0;
    /* width: 60%; */
    height: 100%;
    background: red;
    border-radius: 10px;
    
}