body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.switch{
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 44px;
    background-color: #c6c6c6;
    border-radius: 60px;
    border: 1px solid gray;
    outline: none;
    transition: 200ms;
    position: relative;
}

.switch:checked{
    background-color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
}

.switch::before{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transition: 200ms;
}

.switch:checked::before{
    left: 47px;
}