<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube clone</title>
   
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/youtube/youtubeV2.css">
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
</head>
<body>

    <nav class="flex-div">
        <div class="nav-left flex-div">
            <i class="fas fa-sliders-h menu-icon"></i>
            <img class="logo-icon" src="/images/Wacoal_images.png" >
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>
            <!-- <i class="fas fa-microphone mic-icon"></i> -->

        </div>
        <div class="nav-right flex-div">
            <i class="fas fa-upload"></i>
            <!-- <i class="fas fa-sliders-h"></i> -->
            <!-- <i class="fas fa-sliders-h"></i> -->
            <img class="user-icon" src="https://picsum.photos/250/150" alt="" >

        </div>
       
    </nav>
    <hr>

    <!-- ---------sidebar------------ -->
    <div class="sidebar">
        <div class="shortcut-links">
            <a href="#"> <i class="fas fa-home"></i><p>Home</p></a>
            <a href="#"> <i class="fas fa-bomb"></i><p>exploder</p></a>
            <a href="#"> <i class="fas fa-train"></i><p>subcription</p></a>
            <a href="#"> <i class="fas fa-photo-video"></i><p>library</p></a>
            <a href="#"> <i class="fas fa-history"></i><p>history</p></a>
            <a href="#"> <i class="fas fa-play-circle"></i><p>playlist</p></a>
            <a href="#"> <i class="fas fa-sms"></i><p>message</p></a>
            <hr>
        </div>
        <div class="subscribed-list">
            <h3>Subscribed</h3>
            <a href="#"> <img src="https://picsum.photos/36/36" alt=""><p>Kho</p></a>
            <a href="#"> <img src="https://picsum.photos/36/36" alt=""><p>May</p></a>
            <a href="#"> <img src="https://picsum.photos/36/36" alt=""><p>Cắt</p></a>
            <a href="#"> <img src="https://picsum.photos/36/36" alt=""><p>Kiem Pham</p></a>
            <a href="#"> <img src="https://picsum.photos/36/36" alt=""><p>Dong goi</p></a>

        </div>
      
    </div>

    <!-- ---------main------------ -->
    <div class="container-main">
        <div class="banner">
            <img src="https://picsum.photos/800/600" alt="">
        </div>
        <div class="list-container">
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/270/170" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/250/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="">
                <img src="https://picsum.photos/200/150" alt="" class="thumbnail">
                </a>
                <div class="flex-div">
                    <img src="https://picsum.photos/36/36" alt="">
                    <div class="vid-info">
                        <a href="">Best Chanel to learn codding that help you to be
                            a web developer
                            <p>Easy tutorials</p>
                            <p>15k views &bull; 2 day</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <script src="/javascripts/youtube/youtubeV2.js"></script>
</body>
</html>